<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>

<% @user.ratings.each do |rating| %>
  <%= "#{rating}"%>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
