<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>

<% @user.ratings.each do |rating| %>
  <p>
    <%= "#{@characters.find(rating.winner_id).character_name} is #{@categories.find(rating.category_id).category_name} than #{@characters.find(rating.loser_id).character_name}"%>
  </p>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
