<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>

<% @user.ratings.each do |rating| %>
  <%= "#{@characters[rating.winner_id + 1].character_name} is #{@catergories[rating.category_id + 1].category_name} than #{@characters[rating.loser_id + 1].character_name}"%>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
