
    <% user_rating_count = current_user.ratings.count %>
    <% if user_rating_count >= 25 %>
      <div class="panel-group" id="accordion">

        <% @categories[0...1].each do |cat| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=cat.category_name=%>">
                Alaska's <%= cat.super.capitalize %> Politicians</h1>
              </a>
            </h3>
          </div>
          <div id="collapse<%=cat.category_name=%>" class="panel-collapse collapse in">
            <div class="panel-body">
              <ol id='characters'>
                <% sorted_category(cat.id).each do |character| %>
                <li>
                  <%= character.character_name %> - <%= character.category_score(cat.id).round(1) %>
                </li>
                <% end %>
              </ol>
            </div>
          </div>
          <%end%>
          <% @categories[1..-1].each do |cat| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=cat.category_name.split.join=%>">
                  Alaska's <%= cat.super.split.map(&:capitalize).join(' ') %> Politicians</h1>
                </a>
              </h3>
            </div>
            <div id="collapse<%=cat.category_name.split.join=%>" class="panel-collapse collapse">
              <div class="panel-body">
                <ol id='characters'>
                  <% sorted_category(cat.id).each do |character| %>
                  <li>
                    <%= character.character_name %> - <%= character.category_score(cat.id).round(1) %>
                  </li>
                  <% end %>
                </ol>
              </div>
            </div>

            <%end %>

          </div>
        </div>
      </div>
      
    <% else %>
      <h3>You must give at least 25 ratings to view the scores!</h3>
      <h3>You currently have <%= user_rating_count %> ratings.</h3>
      <h3><%= link_to "Go rate some politicians!", ratings_path =%></h3>
    <% end %>
