
    <h1>Login</h1>
    <%= form_tag user_sessions_path, method: :post do %>
      <div class="field" id="login_email">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        <br/>
      </div>
      <div class="field" id="login_pw">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <br/>
      </div>
      <div class="actions" id="login_submit">
        <%= submit_tag "Login" %>
        <strong><%= link_to 'Sign Up', new_user_path %></strong>
      </div>
    <% end %>
