<!DOCTYPE html>
<html>
<head>
  <title>Polrater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%=favicon_link_tag 'favicon.jpg' %>
  
  <meta property="og:title" content="Alaska Politician Rater" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://pauloliva.com/midnightsun/sun.jpg" />
  <meta property="og:url" content="https://alaskapoliticianrater.herokuapp.com/" />
  <meta property="og:description" content="Rate Alaska politicians head to head and see others rank your favorite (or least favorite) politicians." />
</head>

<body>

  <div id="container">
    <nav class="navbar navbar-dark bg-inverse" style="border-radius: 0px">
      <a class="navbar-brand" href="http://pauloliva.com"><%= image_tag('favicon2.jpg', width:"24") %></a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to 'Rate Politicians', ratings_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Scores', characters_path %>
      </li>
    </ul>

    <ul class="nav navbar-nav" style="float: right">
      <li class ="nav-item">
        <% if logged_in? %>
        <%= "Logged in as #{current_user.email}" %>
        <%= link_to "(logout)", logout_path %>
        <% else %>
        <%= link_to "Login", login_path %> |
        <%= link_to "Sign up", signup_path %>
        <% end %>
        <% if logged_in? && current_user.admin %>
        <%= link_to 'Admin Panel', new_character_path %>
        <% end %>
      </li>
    </ul>


  </nav>

  <div id="content">
    <p class="flash"><%= flash.notice %></p>
    <div class = "row" >
      <div class = "col-md-2">

      </div>
      <div class = "col-md-8" id = "ratings" style="margin-bottom: 5px; border-style: solid; border-radius: 5px; background-color: rgba(159,159,159, 0.85)">
        <%= yield %>
      </div>
      <div class = "col-md-2">
        <!-- <p> test <p> -->
      </div>
    </div>
<% if logged_in? %>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
              <% if logged_in? %>
                <% user_rating_count = current_user.ratings.count %>
                  <h5>You've made <%=user_rating_count%> ratings!</h5>
                <% if user_rating_count >= 25%>
                  <h5><%= link_to 'You can now view the current rankings here', characters_path %></h5>
                  <h5><i class="fa fa-road"> SERVERS ARE EXPENISVE!</h5></i>
                  <a href = "https://squareup.com/store/paul-oliva"><h5>CAN YOU CHIP IN A FEW BUCKS TO HELP US OUT?</h5></a>
                <% end %>
              <% end %>
                <div class="row">
                    <div class="col-xs-6">
                        <!-- <ul class="list-unstyled">
                            <li><a href="">Product</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Team</a></li>
                        </ul> -->
                    </div>
                    <div class="col-xs-6">
                        <!-- <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">About</a></li>
                        </ul> -->
                    </div>
                </div>
                <ul class="nav nav-inline">
                    <li class="nav-item"><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li class="nav-item"><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li class="nav-item"><a href=""><i class="fa fa-github fa-2x"></i></a></li>
                    <li class="nav-item"><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
                <br>
            </div>
            <!-- <div class="col-md-2">
            </div> -->
            <div class="col-md-5">
              <hr>
              <% if logged_in? %>
              <%= "Logged in as #{current_user.email}" %>
              <%= link_to "(logout)", logout_path %>
              <% else %>
              <%= link_to "Login", login_path %> |
              <%= link_to "Sign up", signup_path %>
              <% end %>
              <% if logged_in? && current_user.admin %>
              <%= link_to 'Admin Panel', new_character_path %>
              <% end %>

            </div>
        </div>
    </div>
</footer>
<% end %>
  </div>
  </div>
</body>
</html>
